  <!doctype html>
<html id="ng-app" ng-app='app' ng-controller='authCtrl'>
  <head>
  <meta charset="utf-8"/>
  <title>Fennec</title>
      <link rel="stylesheet" href="/production/bundle.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>
  <base href="/">
  <body>
    <div class="wrapper">
        <div class="header">
            <a href="/"><img class="logo" ng-src="/images/fennec.png"></a>
            <div class="header-title"><a class="white-link" href="/">Fennec</a></div>
            <div class="hide-on-mobile about-link">
                <a class="white-link" href="/about">About</a>
            </div>
            <span ng-show="isUser()" class="hide-on-mobile account">
                <span>
                    <a title="Home" class="white-link margin-right" href="/home">
                        <i class="fa fa-home fa-lg"></i>
                    </a>
                </span>
                <span>
                    <a title="Settings" class="white-link margin-right" href="/settings">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                </span>
                <span class="hover" title="Log out" ng-click="logout()">
                    <i class="fa fa-sign-out fa-lg"></i>
                </span>
          </span>
          <span ng-hide="isUser()" ng-click="login()" class="hide-on-mobile account hover-underline">Login</span>
          <span class="show-on-mobile hover account"><i ng-click="toggleDropdownMenu()" style="color: white;" class="fa fa-bars"></i></span>
      </div>
      <div class="loading-box" ng-show="loadingView">Loading...</div>
      <div mg-menu-mover dropdown-menu="dropdownMenu" ng-view>
      </div>
      <div mg-clear></div>
      <div class="push"></div>
    </div>
    <div class="footer">
      <div class="footer-container">
          <ul class="footer-list">
            <li><a class="white-link" href="/terms">Terms</a></li>
          </ul>
      </div>
    </div>
      <div ng-class="{'modal-overlay': modal}" ng-show="modal" ng-click="removeModalOverlay()"></div>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="/vendor/leaflet.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
      <!--<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>-->
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
      <script src="/vendor/modernizr.js"></script>
      <script src="/vendor/angular-route.js"></script>
      <script src="/vendor/angular-touch.js"></script>
      <script src="/vendor/modal.min.js"></script>
      <script src="/vendor/angles.js"></script>
      <script src="/vendor/angular-moment.js"></script>
      <script src="/vendor/upload.js"></script>
      <script src="/vendor/config.js"></script>
      <script src="/production/bundle.js"></script>

      <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.standalone.js'></script>
  </body>
</html>



