<div ng-show="registered">
    <div class="registered-title">Registered</div>
    <ul class="tm-list">
        <li class="tm-list-li" ng-repeat="trademark in registered">
            <div>
                <span ng-click="showModalWrapper(trademark)" class="bold">{{ trademark.mark }}</span>
                <span class="view-icon"><a href="/view/trademark/{{trademark._id}}"><i class="fa fa-eye"></i></a></span>
            </div>
            <div>
                <ul ng-show="trademark.classes" class="class-list" ng-repeat="class in trademark.classes track by $index">
                    <li class="class">{{ class }}</li> 
                </ul>
            </div>
               
        </li>
    </ul>
</div>
