<div class="btf-modal basic-modal">
	<div class="modal-close" ng-click="closeModal()"><i class="hover fa fa-times"></i></div>
	<div class="modal-title">Image upload</div>
    <div class="modal-container">
      <div class="form-title">{{ id }}</div>
           <form ng-upload="uploadComplete(content)" method="post" action="/api/upload">
              <div><input class="form-upload" type="file" name="image" /></div>
              <div><input class="add-button" type=submit value="Submit" ng-disabled="$isLoading" ></div>
            </form>
            <div ng-click="saveLogo(id, url)" ng-show="url">Save logo</div>
            <div ng-show="url"><img class="logo-holder" ng-src="{{ url }}"></div>
            <div ng-show="message">{{ message }} </div>
  </div>
</div>
