<div class="btf-modal basic-modal">
<div class="form-container">
          <div class="form-title">Login</div>
           <form novalidate name="loginForm" ng-submit="login()">
              <div><input required type=email class="form-input" ng-model="email" name="email" placeholder="Email" ></div>
              <div><input required class="form-input" ng-model="password" type=password name="password" placeholder="Password" ></div>
              <div><input class="add-button" type=submit ng-disabled="!canSubmitLogin()" value="Submit"></div>
            </form>
            <div class="forgotten-password"><a ng-href="/reset-password">Forgotten your password?</a></div>
            <div ng-show="message" class="login-message">{{ message }}</div>
      </div> 
</div>
