<div class="login-modal">
	<div class="login-modal-title">
		<div class="float-left">Login</div>
		<div class="remove-login-form hover" ng-click="closeModal()"><i class="fa fa-times"></i></div>
	</div>
<div mg-clear></div>
<div class="login-modal-content">
    <form novalidate name="loginForm" ng-submit="login()">
        <div><input required type=email class="form-input" ng-model="email" name="email" placeholder="Email" ></div>
        <div><input required class="form-input" ng-model="password" type=password name="password" placeholder="Password" ></div>
        <div><input class="add-button" type=submit ng-disabled="!canSubmitLogin()" value="Submit"></div>
        </form>
        <div class="forgotten-password"><a class="white-link" ng-href="/reset-password">Forgotten your password?</a></div>
      </div> 
</div>
