<div class="btf-modal basic-modal">

    <div class="modal-title"><span class="modal-title-link"><a ng-click="closeModal()" class="modal-title-link" href="/admin/group/{{ trademark.mark }}">{{ trademark.mark}}</a></span><span class="demo-modal-close" ng-click="closeModal()"><b>X</b></span> 
    </div>

   
    <div ng-show="trademark.country.coordinates">
        <img class="country-img" ng-src="//api.tiles.mapbox.com/v3/grabbeh.gch0omlb/{{trademark.country.coordinates[1]}},{{trademark.country.coordinates[0]}},3/400x200.png">
    </div>
    <div class="view-trademark-container">
        <ul class="view-trademark-list">
            <li><span><b>{{ trademark.status }} </b>in <b><a ng-click="closeModal()" href="/admin/country/{{trademark.country.alpha3}}">{{ trademark.country.name }}</a></b></span>
               
            </li>
            <li ng-show="trademark.imageUrl"><img class="small-logo-holder" ng-src="{{trademark.imageUrl}}"> </li>
            <li>
                <ul class="class-list" ng-repeat="class in trademark.classes track by $index">
                    <li class="class">{{ class }}</li>
                </ul>
            </li>
            <div mg-clear></div>
            <li ng-show="trademark.filingDate.stringDate">Filed: {{ trademark.filingDate.stringDate }}</li>
            <li ng-show="trademark.applicationNumber">Application no.: {{ trademark.applicationNumber}}</li>
            <li ng-show="trademark.registrationNumber">Registration no.: {{ trademark.registrationNumber}}</li>
            <li ng-show="trademark.registrationDate.stringDate">Registration date: {{ trademark.registrationDate.stringDate }}</li>
            <li ng-show="trademark.expiryDate.stringDate">Expiry date: {{ trademark.expiryDate.stringDate }}</li>
        </ul>
        <div mg-clear></div>
        
        
        <div mg-favourite-button trademark="trademark" user="user"></div>
  
        
        <div class="modal-buttons">
            <div class="edit-button"><a style="display:block" ng-click="openEditTrademarkModal(trademark)">Edit</a>
            </div>

            <div class="delete-button" ng-init="showDeleteButton = false" ng-click="showDeleteButton = !showDeleteButton">Delete</div>
            
            <div mg-clear></div>
            <div class="confirm-delete-message" ng-show="showDeleteButton">
                <span mg-bold>Are you sure?</span>
                <span class="hover-underline" ng-click="deleteTrademark(trademark)">Yes</span>
                <span class="hover-underline" ng-click="showDeleteButton = !showDeleteButton"> No </span>
            </div>
            <div mg-clear></div>

        </div>
        <div ng-show="message" class="confirmation-message">{{ message }}</div>
        </div>
    </div>



