<div ng-show="pending">
    <div class="pending-title">Pending</div>
    <ul class="tm-list">
        <li class="tm-list-li" ng-repeat="pendingtm in pending">
            <div>
                <span ng-click="showModalWrapper(pendingtm)" class="bold">{{ trademark.mark }}</span>
                <span class="view-icon"><a href="/view/trademark/{{pendingtm._id}}"><i class="fa fa-eye"></i></a></span>
            </div>
            <div>
                <ul ng-show="pendingtm.classes" class="class-list" ng-repeat="class in pendingtm.classes track by $index">
                    <li class="class">{{ class }}</li> 
                </ul>
            </div>
               
        </li>
    </ul>
</div>
