<div ng-hide="loadingView" class="fixed-container">
	<div class="standard-container">
		<div mg-bold>About</div>
		<p>Fennec helps you to liberate your trade mark portfolios from opaque spreadsheets. You can then view details
		of your portfolio wherever you may be with an internet connection and get a handle on the important parts of your 
		portfolio.</p>
		<p>In addition to visualisation and analysis tools, Fennec also provides management tools so you can use Fennec to act as a 
		central information store for your portfolio, and also set reminders so you can prepare in good time for upcoming renewals.</p>
		<p>For acquirers of companies holding portfolios, Fennec also allows you to quickly get a handle on the portfolio 
		including analysis of the quality, geographical spread and overall health of the portfolio.</p>
	</div>
</div>
