<div ng-hide="loadingView" id="form-body">
     <div class="form-container">
          <div class="form-title">Add user</div>
           <form novalidate name="createUserForm" class="loginform" ng-submit="createUser()">
              <div><input required class="form-input" type=email ng-model="newUser.email" name="username" placeholder="E-mail" ></div>
              <div><input required class="form-input" ng-model="newUser.password" type=password name="password" placeholder="Password" ></div>
              <div><input class="checkbox" ng-model="newUser.checked" type="checkbox"> Set as admin</div>
              <div><input class="add-button" type=submit ng-disabled="!canSubmitCreateUser()" value="Submit"></div>
            </form>
            <div>{{ message }}</div>
      </div> 
 </div>
