<div>
    <div ng-hide="activities" class="margin-top">No recently updated marks for this group of trade marks</div>
    <ul class="tm-list expiry-list">
        <li class="tm-list-li" ng-repeat="activity in items track by $index">
            <div ng-click="showModalWrapper(activity.trademark)" class="hover tm-list-content">
              <div><span mg-bold>{{ activity.trademark.mark }} </span><span> in {{ activity.trademark.country.name }} </span></div>
              <div> <span>{{ activity.user }} </span> on <span> {{ activity.created | date: 'longDate' }} </div>
              <div class="updated-tm-content" ng-repeat="change in activity.changes">
                    <div mg-bold>{{ change.attr }}</div>
                    <div class="tm-addition"> {{ change.added }}</div>
                    <div class="tm-deletion"> {{ change.removed }} </div>
                  
            </div>
        </div>
            <div class="view-icon"><a href="/view/trademark/{{activity.trademark._id}}"><i class="fa fa-eye"></i></a></div>
        </li>
    </ul>

    <div ng-show="activities" style="float:right; font-size: 16px">
        <div class="pagination-prev hover-cursor" ng-hide="checkIfFirst(pageNumber)" ng-click="prevPage(pageNumber)">Prev</div>
        <div class="pagination-first hover-cursor" ng-hide="checkIfFirst(pageNumber)" ng-click="firstPage()">1</div>
        <div class="pagination-number hover-cursor"> {{ pageNumber }} </div>
        <div class="pagination-last hover-cursor" ng-hide="checkIfLast(pageNumber)" ng-click="lastPage()"> {{ groupOfArrays.length }} </div>
        <div class="pagination-next hover-cursor" ng-hide="checkIfLast(pageNumber)" ng-click="nextPage(pageNumber)">Next</div>
    </div>
</div>
