<div ng-hide="loadingView" class="fixed-container">
    <div class="row">
        <div class="admin-panel">
            <div class="one-half-container">
                <div class="admin-panel-holder">
                    <div class="admin-panel-title"><i ng-click="toggleMenuModal()" class="hover fa fa-bars"></i> <span style="margin-left: 15px;">Admin panel</span></div>
                </div>
            </div>
            <div class="one-half-container last">
                <div mg-search-input search-results="searchResults"></div>
            </div>
        </div>
    </div>
       
    <div class="no-trademark-container" ng-hide="trademarks">Oops, it looks like there are no trade marks to view. Import some <a href="/upload">here</a>
    </div>
    <div ng-show="trademarks">
        <div class="row">
            <div class="one-half-container">
                <div class="group-mark-list" mg-group-selector marks="marks" title="Show group of marks" go-to-group="showGroup"></div>
            </div>
            <div class="one-half-container last last-margin-top">
                <div class="country-list" mg-country-selector countries="countries" title="Show country" go-to-group="showCountry"></div>
            </div>
        </div>

        <div mg-clear></div>
        <div class="row">
        <div mg-search-results show-modal="showModal" search-results="searchResults"></div>
        </div>
        <div mg-clear></div>
        
        <div class="row">
            
            <div class="full-width-container">
                <div class="pie-chart-container">
                    <div ng-init="activeMark= 'ALL MARKS'" class="view-group-title">{{ activeMark }} </div>
                        <div>Summary</div>
                        <div class="stat-header">{{ trademarks.length }}</div>
                        <div class="stat-subtitle">Total</div>
                        <div>
                            <ul class="stat-list stat-list-admin">
                                <li ng-show="chartSubtitles[0]">
                                    <div class="sub-stat-header">{{ chartSubtitles[0].number }}</div>
                                    <div class="registered-key">{{ chartSubtitles[0].status }}</div>
                                </li>
                                <li ng-show="chartSubtitles[1]">
                                    <div class="sub-stat-header">{{ chartSubtitles[1].number }}</div>
                                    <div class="published-key">{{ chartSubtitles[1].status }}</div>
                                </li>
                                <li ng-show="chartSubtitles[2]">
                                    <div class="sub-stat-header">{{ chartSubtitles[2].number }}</div>
                                    <div class="pending-key">{{ chartSubtitles[2].status }}</div>
                                </li>
                            </ul>
                    </div>
                        <div mg-clear></div>
                </div>
                    
                <div>
                <canvas piechart options="pieOptions" data="pieData"></canvas>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="one-half-container">
                    <div ng-show="sortedByExpiry" class="right-half-container">
                        <div mg-bold>Upcoming expiries<i class="float-right fa fa-clock-o fa-2x"></i></div>
                        <div class="paginator" mg-paginator show-modal="showModal" sorted-by-expiry="sortedByExpiry" items-per-page="8"></div>
                    </div>
            </div>
            
            <div class="one-half-container last last-margin-top">
                    
                <div ng-show="favouriteMarks" class="favourite-container">
                        <div mg-bold>Favourite marks<i class="favourite float-right fa fa-star fa-2x"></i>
                    </div>
                       <div class="paginator" mg-favourites-paginator show-modal="showModal" favourite-marks="favouriteMarks" items-per-page="10">
                    </div> 
                </div>
            </div>
        </div>
        
        

        <div mg-clear></div>
        <div class="row">
            <div class="bar-chart-container">
                <div class="expiry-chart-title">Expiry dates<span class="hide-on-mobile"><i class="float-right  fa fa-bar-chart-o fa-2x"></i></span>
                </div>
                <div class="hide-on-mobile one-half-container">
                    <div class="expiry-chart-search">
                        <form name="expiryForm">
                            <input type="number" min="{{ min }}" max=" {{ min + 10 }}" placeholder="Show expiries for given year" ng-model="year" class="expiry-form-input">
                            <i ng-show="expiryFormValid()" ng-click="expirySearch(year)" class="hover search-button fa fa-search"></i> 
                        </form>
                    </div>
                </div>
                <canvas barchart options="options" data="chart" width="1100" height="400"></canvas>
            </div>
        </div>

        <div mg-clear></div>

        <div class="row">
            <div class="map-container">
                <div mg-bold>Map<i class="float-right fa fa-globe fa-2x"></i>
                </div>
                <div class="expiry-search-container">

                </div>
                <div class="hover" ng-init="showMarkList = false" ng-click="showMarkList = !showMarkList">
                    <span ng-hide="showMarkList">Show</span>
                    <span ng-show="showMarkList">Hide</span> 
                    <span style="margin-right: 15px;">list of marks</span>
                    <span ng-hide="showMarkList"><i class="fa fa-chevron-down"></i></span>
                    <span ng-show="showMarkList"><i class="fa fa-chevron-up"></i></span> 
                </div>

                <div ng-show="showMarkList" mg-mark-list-displayer send-marks-to-server="sendMarksToServer" marks="marks"></div>

                <div mg-map id="admin-map" geojson="geojson"></div>
                <div class="row">
                    
                
                <div class="one-half-container">
                    <div class="map-mark-list" mg-group-selector marks="marks" title="Go to group of marks" go-to-group="goToGroup"></div>
                </div>
                <div class="one-half-container last last-margin-top">
                    <div class="country-list" mg-country-selector countries="countries" title="Go to country" go-to-group="goToCountry"></div>
                </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="one-half-container">
                <div ng-show="incompleteMarks" class="left-half-container">
                    <div mg-bold>Incomplete marks<i class="float-right fa fa-ban fa-2x"></i>
                    </div>
                    <div class="paginator" mg-incomplete-paginator show-modal="showModal" incomplete-marks="incompleteMarks" items-per-page="10">
                    </div>
                </div>
             </div>
            <div class="one-half-container last last-margin-top">
                <div class="user-container">
                    <div class="user-email">{{ user.email }}</div>
                    <div tabs>
                        <div mg-clear></div>
                        <div pane title="Alerts">
                            <div mg-admin-alert-widget user="user"></div>
                        </div>

                        <div mg-clear></div>
                        <div pane title="Account">
                            <div mg-account-details-widget user="user"></div>
                        </div>
                    </div>
                </div>
                
                
            
            </div>
        </div>
    </div>
</div>
<br></br>
