<div class="fixed-container">
  <div class="one-half-container">
    <div ng-show="favourites" class="favourite-container">
          <div mg-bold>Favourite marks<i class="favourite float-right fa fa-star fa-2x"></i></div>
              <div class="paginator" mg-favourites-paginator show-modal="activateTrademark" favourite-marks="favourites" items-per-page="10"></div> 
      </div>
  </div>

  
  <div class="one-half-container last">
      <div edit-trademark="openEditTrademarkModal" delete-trademark="deleteTrademark" ng-show="activeTrademark" mg-trademark-container trademark='activeTrademark' user='user'></div>
  </div>
</div>
