<div ng-hide="loadingView" class="fixed-container">
    <div class="view-group-panel-container">
          <div class="portfolio-home-title">{{ portfolio }}</div>
          <div class="small-text">Search by country or click the map below</div>
          <div>
              <span class="map-search-input">
                <form novalidate name="filterTMsForm" class="pure-form" ng-submit="filterPortfolio()">
                   <input class="search-input" name="searchcountry" required placeholder="Country" ng-model="searchcountry">
                   <input type="submit" ng-disabled="!canFilter()" class="button pure-button" value="Search">
                </form>
             </span>
          </div>
          <div mg-clear></div>

          <div class="hover show-mark-list" ng-init="showMarkList = false" ng-click="showMarkList = !showMarkList"><span ng-hide="showMarkList">Show</span><span ng-show="showMarkList">Hide</span> list of marks</div>
          <div ng-show="showMarkList" mg-mark-list-displayer send-marks-to-server="sendMarksToServer" marks="marks"></div>

    
      <div mg-map id="map" geojson="geojson"></div>
      
      <div ng-show="registered || pending || published || nocontent" class="trademark-container">
        <div class="country-holder f32"> {{ country }}  <div class="flag" ng-class="countrycode"></div></div>
        <span ng-show="nocontent">No trade marks for this country</span>

         <div class="one-third-container" mg-registered-trademark-list registered="registered" show-modal="showModal"></div>
         <div class="one-third-container" mg-published-trademark-list published="published" show-modal="showModal"></div>
         <div class="one-third-container last" mg-pending-trademark-list pending="pending" show-modal="showModal"></div>
         
      </div>
      <br></br>
   
</div>
