<div id="form-body">
     <div class="form-container">
          <div class="form-title">Password reset</div>
           <form novalidate name="passwordResetForm" ng-submit="requestPasswordReset()">
              <div><input required type=email class="form-input" ng-model="email" name="email" placeholder="Email" ></div>
              <div><input class="add-button" type=submit ng-disabled="!passwordResetFormValid()" value="Submit"></div>
            </form>
            <div class="small-text">{{ message }}</div>
      </div> 
 </div>
