<div ng-hide="loadingView" class="fixed-container">
<div class="quick-search-container">

<div class="row">
 <div class="one-third-container">
  <div style="background: rgb(140, 173, 202)" class="home-block"><a class="fill-div" href="/admin/{{portfolio}}">Admin panel</a></div>
</div>
<div class="one-third-container">
  <div style="background: rgb(182, 206, 228)" class="home-block"><a class="fill-div" href="/map/{{portfolio}}">Map</a></div>
</div>
<div class="one-third-container last">
  <div style="background: rgb(210, 233, 243)" class="home-block"><a class="fill-div" href="/quick-search/{{portfolio}}">Quick search</a></div>
</div>
</div>
</div>
</div>
