
<div ng-hide="loadingView" class="fixed-container">
    <div class="quick-search-container">
        <div class="one-half-container">
            <div class="portfolio-home-title">{{ portfolio}}</div>
        </div>
        <div class="one-half-container last">
            <div>
                <form>
                    <select class="group-mark-select" ng-change="changePortfolio(portfolio)" ng-model="portfolio" ng-options="portfolio for portfolio in portfolios">
                        <option value="">Select portfolio</option>
                    </select>
                 </form>
              </div>
        </div>
        <div class="row">
            <div class="portfolio-subtitle">
                Tools
            </div>
        </div>
        <div class="row">
              <div class="one-third-container">
            
                <div style="background: rgb(250, 158, 74)" class="home-block">
                        <i class="portfolio-icons fa fa-star fa-2x"></i>
                        <a class="fill-div" href="/favourites/{{portfolio}}">Favourites</a>
                        
                    </div>
            </div>
              <div class="one-third-container">
                <div style="background: rgb(167, 112, 204)" class="home-block">
                     <i class="portfolio-icons fa fa-globe fa-2x"></i>
                    <a class="fill-div" href="/map/{{portfolio}}">Map</a>
                   
                </div>
              </div>
              <div class="one-third-container last">
                <div style="background: rgb(108, 211, 190)" class="home-block">
                    <i class="portfolio-icons fa fa-search fa-2x"></i>
                    <a class="fill-div" href="/quick-search/{{portfolio}}">Quick search</a>    
                    </div>
              </div>
        </div>
         
        <div class="portfolio-subtitle">
            Admin
        </div>
        <div class="row">
             <div class="one-third-container">
                <div style="background: rgb(213, 96, 96)" class="home-block">
                <i class="portfolio-icons fa fa-tachometer fa-2x"></i> 
                    <a class="fill-div" href="/admin/{{portfolio}}">Dashboard</a>
                       
                </div>
              </div>
              <div class="one-third-container">
                <div style="background: rgb(86, 182, 236)" class="home-block">
                 <i class="portfolio-icons fa fa-user fa-2x"></i>
                    <a class="fill-div" href="/users">Users</a>
                    
                </div>
              </div>
              <div class="one-third-container last">
                <div style="background: rgb(74, 179, 48)" class="home-block">
                    <i class="portfolio-icons fa fa-terminal fa-2x"></i>
                    <a class="fill-div" href="/admin/{{portfolio}}">API</a>
                    
                </div>
              </div>

        </div>
        <div class="portfolio-subtitle">
           Selectors
        </div>
         <div class="row">
            <div class="one-half-container">
                <div class="map-mark-list" mg-group-selector marks="marks" title="Trade marks" go-to-group="goToGroup"></div>
            </div>
            <div class="one-half-container last last-margin-top">
                <div class="country-list" mg-country-selector countries="countries" title="Countries" go-to-group="goToCountry"></div>
            </div>
        </div>
        <div class="hover-underline logout-button" ng-click="logout()">Logout</div>
       
    </div>
