<div ng-hide="loadingView" class="fixed-container">
    <div class="quick-search-container">
        <div class="portfolio-home-title">{{ portfolio}}</div>
        <div class="row">
              <div class="one-third-container">
                <div style="background: rgb(213, 96, 96)" class="home-block"><a class="fill-div" href="/admin/{{portfolio}}">Admin panel</a></div>
              </div>
              <div class="one-third-container">
                <div style="background: rgb(167, 112, 204)" class="home-block"><a class="fill-div" href="/map/{{portfolio}}">Map</a></div>
              </div>
              <div class="one-third-container last">
                <div style="background: rgb(108, 211, 190)" class="home-block"><a class="fill-div" href="/quick-search/{{portfolio}}">Quick search</a></div>
              </div>
        </div>
        <div class="row">
            <div class="one-third-container">
                <div style="background: rgb(250, 158, 74)" class="home-block"><a class="fill-div" href="/favourites/{{portfolio}}">Favourites</a></div>
            </div>
            <div class="one-third-container">
                <div style="background: rgb(111, 197, 245)" class="hover-underline home-block"><span class="hover-underline" ng-click="getJSON()">Download portfolio</span></div>
            </div>
        </div>
        <div class="row">
            <div class="one-half-container">
                <div class="map-mark-list" mg-group-selector marks="marks" title="Go to group of marks" go-to-group="goToGroup"></div>
            </div>
            <div class="one-half-container last last-margin-top">
                <div class="country-list" mg-country-selector countries="countries" title="Go to country" go-to-group="goToCountry"></div>
            </div>
        </div>
    </div>
</div>
