<div ng-hide="loadingView" class="fixed-container">

<div class="quick-search-container">


<div class="row">
<div class="quick-search-title">Quick search</div>

</div>

  <div class="qs-wording">Do I use the (R) or (TM) symbol for</div>
  
    <div class="quick-search-mark-selector">
        <div>
             <select ng-class="{ qscomplete: mark, qsincomplete: !mark}" class="qs-select" ng-change="selectMark()" ng-model="mark" ng-options="mark.name for mark in marks">
                 <option value="">Choose trade mark</option>
             </select>
             <span><i class="fa fa-chevron-down"></i</span>
        </div>
    </div>

  <div class="qs-wording">in </div>
 
  
      <div class="quick-search-country-selector">
    	     <select 
             ng-change="quickSearch()" ng-class="{ qscomplete: country, qsincomplete: !country }" class="qs-select float-left" ng-model="country" ng-options="country.name for country in countrydata">
    	        <option value="">Choose country </option>
    	      </select>
    	       <span><i class="fa fa-chevron-down"></i</span>
      </div>
      <span class="qs-question-mark">?</span>
   
  <div class="quick-search-msg" ng-show="message"> {{ message }} </div>
  <div ng-show="result" class="quick-search-result"> {{ result }} </div>
  <div class=""><ul><li  ng-repeat="spec in classes"><div>{{ spec.clss }}</div><div>{{ spec.specification}}</div></li></ul></div>
  
  </div>
</div>
  

</div>
