<div class="fixed-container">
<div class="row">
<div>Quick search</div>
<div>Select a trade mark and a country</div>
</div>
<div class="row">
  
  <div class="one-half-container">
        <div go-to-group="showGroup" mg-group-selector marks="marks" title="Select a trade mark"></div>
  </div>
  
  
 
  <div class="one-half-container last">
    	     <select 
             ng-change="quickSearch()" class="group-mark-select" ng-model="country" ng-options="country.name for country in countrydata">
    	        <option value="">Select a country </option>
    	      </select>
      	 </div>
  </div>

  
  <div ng-show="message"> {{ message }} </div>
  <p><h1> {{ result }} </h1></p>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
</div>
