<div ng-hide="loadingView" class="fixed-container">

<div class="quick-search-container">


<div class="row">
<div class="quick-search-title">Quick search</div>

</div>

  <div class="qs-wording">Do I use the (R) or (TM) symbol for</div>
  
   
        <div>
             <select class="qs-select" ng-change="selectMark()" ng-model="mark" ng-options="mark.name for mark in marks">
                 <option value="">Choose trade mark</option>
            
             </select>
             <div class="qs-line" ng-class="{ qscomplete: mark, qsincomplete: !mark}" ></div>
        </div>
    

  <div class="qs-wording">in </div>
 
    	     <select 
             ng-change="quickSearch()"  class="qs-select" ng-model="country" ng-options="country.name for country in countrydata">
    	        <option value="">Choose country </option>
    	      </select>
    	       <span class="qs-question-mark">?</span>
    	       <div class="qs-line" ng-class="{ qscomplete: country, qsincomplete: !country }"></div>
     
      
   
  <div class="quick-search-msg" ng-show="message"> {{ message }} </div>
  <div ng-show="result" class="quick-search-result"> {{ result }} </div>
  <div class=""><ul><li  ng-repeat="spec in classes"><div>{{ spec.clss }}</div><div>{{ spec.specification}}</div></li></ul></div>
  
  </div>
</div>
  

</div>
