 <div ng-hide="loadingView" class="fixed-container">
   <div class="row">
 	<div class="one-half-container">
     <div class="standard-container shadow">
           <div>Select portfolio</div>
          <ul class="tm-list">
             <li class="tm-list-li hover-underline"  ng-repeat="portfolio in portfolios">
                <b><a href="/home/{{ portfolio }}">{{ portfolio}} </a></b>
             </li>
          </ul>
      </div> 
    </div>
    <div class="one-half-container last">
    <div class="standard-container shadow">
    	<div>Unread notifications</div>	
        <ul class="tm-list">
           <li class="tm-list-li" ng-repeat="notification in notifications">
              <div class="notification-content hover" ng-click="showModal(notification.trademark)"><span mg-bold>{{ notification.trademark.mark }}</span> in <span mg-bold> {{notification.trademark.country.name }}</span> is expiring on<span mg-bold> {{ notification.trademark.expiryDate.stringDate | date: 'longDate'}}</span></div> 
             
             <div class="notification-delete-button hover-black"><div ng-click="deleteNotification(notification, $index)"><i class="fa fa-times fa-lg"></i></div></div>
             <div class="view-icon"><a href="/view/trademark/{{notification.trademark._id}}"><i class="fa fa-eye"></i></a></div>
           </li>
         
        </ul>
    </div>
      
    </div>
    </div>
 </div>
