 <div ng-hide="loadingView" class="fixed-container">
   <div class="row">
 	<div class="one-half-container">
     <div class="standard-container shadow">
           <div>Select portfolio</div>
          <ul class="tm-list">
             <li class="tm-list-li hover-underline"  ng-repeat="portfolio in portfolios">
                <b><a href="/home/{{ portfolio }}">{{ portfolio}} </a></b>
             </li>
          </ul>
      </div> 
    </div>
    <div class="one-half-container last">
    <div class="standard-container shadow">
    	<div>Unread notifications</div>	
        <ul class="tm-list">
           <li class="tm-list-li" ng-repeat="notification in notifications">
              <div>{{ notification.trademark.mark }} is expiring on {{ notification.trademark.expiryDate.stringDate}} 
             ({{ notification.incident.expiringIn.number }} {{ notification.incident.expiringIn.type }} )</div>
           </li>
         
        </ul>
    </div>
      
    </div>
    </div>
 </div>
