 <div ng-hide="loadingView" class="fixed-container">
   <div class="row">
 	<div class="one-half-container">
     <div class="standard-container">
           <div class="form-title">Select portfolio</div>
          <ul class="tm-list">
             <li class="tm-list-li hover-underline"  ng-repeat="portfolio in portfolios">
                <b><a href="/home/{{ portfolio }}">{{ portfolio}} </a></b>
             </li>
          </ul>
      </div> 
    </div>
    <div class="one-half-container last">
    <div class="standard-container">
    	<div>Unread notifications</div>	

    </div>
      
    </div>
    </div>
 </div>
