<div class="fixed-container">
<div class="standard-container">
	

<p mg-bold>Terms of Use (“Terms”)</p>
<p>The below terms govern your use of tryfennec.com (the “Site”).</p>
<p mg-bold>Accepting these terms</p>
<p>If you don’t agree with any of these terms you should not use the Site. If we make material changes to the Terms, we’ll let you know either through the Site or via email. If you don’t agree with any revised terms again you should stop using the Site, however, if you don’t let us know this, the revised terms will apply to you and your continued use of the Site. </p>
<p mg-bold >Privacy policy</p>
<p>From time to time, including when you register with the Site, you will be asked to provide certain personal information, including your name, and email address, as well as those of third parties with which you do business. We will store your personal information, but will not share it with any third parties except as follows. </p>
<p >We use a third party data storage provider to store all data submitted by users as part of their usage of the Site. The third party is located in Ireland and consequently as part of providing information to the Site you agree that to the transfer of your data to Ireland, including personal data. </p>
<p >As part of the services offered by the Site you can agree to receive notifications upon certain events, so we will use your email address for this purpose. You can update these notifications as part of your settings. </p>
<p>In certain limited cases we may be required by law to disclose personal information although considering the nature of the Site this is unlikely. Where permitted by law, we will notify you prior to such disclosure to allow you the opportunity to object. </p>
<p>We may disclose personal information where we are enforcing these terms of use or any other agreement we enter into in relation to the Site. </p>
<p>Although at present we don’t in future we may also aggregate user information and perform statistical analyses of the collective behavior of the users of the Site, to measure overall demographics, and to analyze how to improve our service. </p>
<p>We may share this information with third parties who provide analytics services but such aggregate information does not contain personal information other than IP addresses. </p>
<p>In relation to information about your portfolio we may aggregate data about your portfolio on an anonymous basis to provide generic statements about general portfolio strategies and the dispersal of trade mark registrations throughout the world. </p>
<p mg-bold >Copyright and intellectual property</p>
<p>You retain all right, title and interest in data you provide to the Site. To allow us to provide the services via the Site you grant us a non-exclusive royalty-free worldwide licence to make use of the data for such purposes (including transfer to the above third party data storage provider). </p>
<p>We will never sell or transfer this data to third parties without your consent except where arising as a result of a sale of the Site to a third party who commits to running the Site in an equivalent manner with the same restrictions on usage of data. </p>
<p mg-bold >Cancelling your account</p>
<p>You can cancel your account at any time by sending an email to michael@tryfennec.com. Upon cancelling your account, your data will be marked for deletion in thirty days, and will be deleted upon expiration of that thirty-day period. </p>
<p mg-bold >Disclaimer of warranties</p>
<p>Due to the nature of the internet generally and our usage of third party providers in providing the Site unfortunately we cannot guarantee that the Site is available for your use at all times, and we make no warranty in this respect. </p>
<p>Where we detect or are notified about an issue with the Site we will of course take steps to remedy the issue however speed resolution of the issue may not always be possible. </p>
<p mg-bold >Limitations of liability
<p>To the fullest extent permitted by law, we accept no liability for indirect loss arising as a result of your usage of the Site, including but not limited to loss of profit, and consequential loss, even where we have been informed about the potential for such loss. </p>
<p mg-bold >Indemnification</p>
<p>You agree to indemnify, defend, and hold harmless us from any and all claims and expenses, including attorneys’ fees, arising out of your use of the Site, including but not limited to your violation of this agreement. </p>
<p mg-bold >Change to the Site</p>
<p>As the Site is currently in the process of development, it may be subject to change. Whilst we hope that any changes are enhancements, at the same time, certain features may change or be removed where it is determined that they are not of use to the majority of users of the Site. </p>
<p>If for whatever reason we have to terminate the Site, we will give you the opportunity to retrieve your data prior to the closure of the Site. </p>
<p mg-bold >General</p>
<p>The laws of England & Wales govern and apply to these Terms and your use of the Site. Any dispute arising in relation to these terms and the use of the Site is subject to the exclusive jurisdiction of the court of England & Wales. </p>

</div>
</div>
