<div>
    <div ng-show="trademark.comments">
        <ul class="tm-list expiry-list">
        <li class="tm-list-li"  ng-repeat="comment in trademark.comments track by $index">
            <div>{{ comment.text }} </div>
            <div>{{ comment.date }} </div>
            <div> {{ comment.author }}</div>
            <div ng-click="deleteComment($index)">Delete</div>
        </li>
    </ul>
    </div>

    
        <div>
        <textarea ng-model="text"></textarea>
        <div ng-click="addComment(text)">Add comment</div>
         <div>
             {{ message }}
            </div>

    </div>
</div>
