<div ng-hide="loadingView" class="fixed-container">
	<div class="row">
		<div class="one-half-container">
			<div class="standard-container shadow">
				<div mg-bold>Current users</div>

				<div mg-clear></div>
				<div>
					<ul class="user-list">
						<li class="user-list-li" ng-repeat="user in users">
						<div class="user-list-content">
						 <div> {{ user._id }} </div>
						 <div><span class="user-admin"> Admin</span><span><input class="checkbox" ng-model="user.isAdmin" type="checkbox" ></span> </div>
						 </div>
						 <div>
						 <div ng-click="deleteUser(user, $index)" class="user-delete-button"><i class="fa fa-times fa-lg"></i></div>
						 <div ng-click="updateUser(user)" class="user-edit-button"><i class="fa fa-pencil fa-lg"></i></div>
						 </div>
						 	
						 </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="one-half-container last last-margin-top">
			<div class="standard-container shadow">
			<div mg-bold class="margin-bottom">Add user</div>

		           <form novalidate name="createUserForm" class="loginform" ng-submit="createUser()">
		              <div><input required class="form-input" type=email ng-model="newUser.email" name="username" placeholder="E-mail" ></div>
		              <div><input required class="form-input" ng-model="newUser.password" type=password name="password" placeholder="Password" ></div>
		              <div><input class="checkbox" ng-model="newUser.checked" type="checkbox"> Admin</div>
		              <div><input class="add-button" type=submit ng-disabled="!canSubmitCreateUser()" value="Submit"></div>
		            </form>
		            <div>{{ message }}</div>
			</div>
		</div>
	</div>
</div>
