<div ng-hide="loadingView"  class="fixed-container">
    <div class="row"> 
        <div class="one-third-container">
             <div edit-trademark="openEditTrademarkModal" delete-trademark="deleteTrademark" mg-trademark-container trademark='trademark' user='user'></div>
        </div> 
        <div class="two-third-container last">
            <div class="comments-container shadow">
                <div mg-bold>
                    Comments
                </div>
                <div mg-trademark-comments user='user' trademark='trademark'></div>
            </div>
        </div>
    </div>
</div> 

