@font-face{
	font-family:'Karla';
	src:local('Karla'),local('Karla'),url(../fonts/karla-regular-webfont.woff) format('woff');
}

@font-face{
	font-family:'Karla';
	font-weight:bold;
	src:local('Karla'),local('Karla'),url(../fonts/karla-bold-webfont.woff) format('woff');
}

.circle {
	border-radius: 50%;
	width: 10px;
	height: 10px; 
}

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.unstyled-list li {
	float: left;
	margin: 10px 0 10px 10px;
}

.browser-bar-container {
  width: 100%;
  height: 26px;
  background: #f0f0f0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.orange {
  background: orange;
}
/* class selector */

.select-boxes {
	padding: 0 10px 10px 10px;
	font-weight: bold;
}
.select-all-classes {
	
}

.remove-all-classes {
	float: right;
}
.class-selector-container {
  border: solid black 1px;
  overflow: hidden;
  padding: 0px;
  width: 280px;
  position: absolute;
  font-size: 16px;
  z-index: 2000;
  background: white;
}

.class-selector-list {
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.class-selector-list > li {

  list-style: none;
  float: left;
  padding: 7px;
  margin: 3px;
  width: 17px;
  text-align: center;

}
.currentclass {
  background: #3F3838;
  color: white;
}

.noncurrentclass {
  background: white;
}
/* api.html */

.api-container {
	padding: 25px 25px 50px 25px;
	background: white;
	font-size: 18px;
}

.api-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.api-title {
	margin: 10px 0;
	font-weight: bold;
}

.api-url {
	background: #E8DEDE;
	padding: 10px;
}

.api-list-li {
    padding: 10px;
    border-bottom: #E8DEDE 1px solid;
}

.api-query-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.api-query-list li {

}

.api-query {
    padding: 10px;
    background: #E8DEDE;
    display: inline-block;
}

.api-query-subtitle {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.query-list {
	margin-bottom: 15px;
	font-weight: bold;
}

.api-example {
      background: #E8DEDE;
      padding: 10px;
      display: inline-block;
}

.api-results {
    margin-bottom: 20px;
}

.http-verb {
    padding: 10px;
    color: white;
    display: inline-block;
}

.http-verb.get {
    background: rgb(66, 179, 158);
}

.http-verb.post {
	background: orange;
}

.http-verb.delete {
	background: rgb(228, 68, 68);
}

.http-verb.put {
	background: blue;
}

/* index.html */

.underline {
   border-bottom: 1px rgb(224, 183, 183) solid;
}

/*
.active-menu {
    margin-top: 225px;
}*/

.about-link {
    float: left;
    padding-top: 8px;
    font-size: 16px;
    color: white;
    padding-left: 20px;
    font-weight: bold;
}

.wrapper {
	min-height: 100%;
	height: auto !important; 
	height: 100%;
	margin: 0 auto -100px; 
}

.paginator-holder {
    float: right; 
    font-size: 16px;
}

.margin-right-twenty {
    margin-right: 20px;
}


.slide-menu {
  top: 0;
  position: fixed;
  height: 100%;
  z-index: 2000;
  background: #3F3838;
  width: 300px;
  margin-left: -300px;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.moveright {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    box-shadow: 10px 10px 10px rgba(0,0,0,.15);
}

.moveleft {
    -webkit-transform: translateX(0x);   
    transform: translateX(0px);
}

.margin-top {
	margin-top: 20px;
}

.margin-t-b {
	margin: 20px 0;
}

.margin-top-ten {
    margin-top: 10px;
}

.margin-top-twenty {
	margin-top: 20px !important;
}

.margin-bottom-twenty {
	margin-bottom: 20px;
}

.no-margin-bottom {
     margin-bottom: 0 !important;
}

.margin-left {
    margin-left: 20px;
}

.margin-left-ten {
    margin-left: 10px   ;
}

.standard-container {
	background: white;
	padding: 20px;
	margin-top: 20px;
}

.large-shadow {
	box-shadow: 10px 10px 10px rgba(0,0,0,.15);
}
.shadow {
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
      margin-right: 2px;
      margin-left: 2px;
      margin-bottom: 2px;
}

canvas{
width: 100% !important;
height: auto !important;
}

.margin-right {
    margin-right: 20px;
}

.margin-top {
	margin-top: 20px;
}

/* footer */

.footer-container {
    padding: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* userpage */

.margin-bottom {
	margin-bottom: 20px;
}

.user-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-admin {
	font-size: 14px;
}
.user-list-li {
    font-size: 18px;
    padding: 12px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #9a9a9a;
    overflow: hidden;
}

.user-list-content {
    width: 80%;
    float: left;
}

/* login modal */

.login-modal-content {
    padding: 20px;
    color: white;
    background: #3F3838;
}

.login-modal {
  position: fixed;
  top: 10%;
  height: auto;
  z-index: 2000;
  left: 35%;
  width: 400px;
}

.remove-login-form {
   
    float: right;
}

.login-modal-title {
    padding: 10px 15px 10px 20px;
    background: black;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

/* notification container */

.notification-list-li {
     font-size: 14px;
    padding: 8px 12px 8px 12px;
    overflow: hidden;
}

.notification-link {
    background:#E7E7E7;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}


.notification-symbol {
	background: #FF3F3F;
	padding: 10px;
	text-align: center;
    border-radius: 50%;
    width: 20px;
    margin-top: -10px;
    margin-right: -10px;
	color: white;
	font-weight: bold;
	float: right;
}
.notification-content {
	float: left; 
	width: 80%;
    margin-left: 20px;
}

.notification-title {
    font-weight: bold;
    float: left;
}
.notification-delete-button {
	float: right;
	margin-top: 3px;
	margin-left: 10px;
	color: grey;
}

.hover-black:hover {
    color: black;
    cursor: pointer;
}

.hover-remove-opaque:hover {
    cursor: pointer;
    opacity: 1;
}

.hover-black a:hover {
    color: black;
}

/* activity container */

.tm-addition {
    background: rgb(141, 228, 114);
    margin: 5px 0;
}

.tm-deletion {
    background: rgb(252, 94, 94);
    margin: 5px 0;
}

.updated-tm-content {
    margin: 10px 0;
}

/* notification modal */

.notification-modal {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
    left: 0;
    color: white;
}

.errornotification {
    background: rgb(209, 58, 58);
}

.successnotification {
    background: #41B441;
}

.notification-msg {
    padding: 13px 0 13px 0;
    float: left;
    width: 90%;
    text-align: center;
    font-weight: bold;
    z-index: 2001;
}

.notification-remove {
    padding: 15px 15px 15px 0;
    float: right;
}

/* dropdown menu */

.dropdown-menu {
    width: 100%;
    color: white;
    margin-top: 45px;
    position:absolute;
    z-index: 2000;
    background: #3F3838;
    left: 0;
    top: 0;
}

.view-icon {
    float: right;
    margin-top: 3px;
    opacity: 0.7;
}

.show-on-mobile {
    display: none;
}

/* Comment box */

.comment-btn {
    font-size: 16px;
}

.cancel-edit {
	padding-top: 5px;
	font-size: 14px;
	float: right;
}

.comment-submit-btn {
	margin-top: 10px;
	float: right;
}

.comment-text {
	margin-bottom: 10px;
    font-size: 16px;
}

.comments-container {
    background: white;
    padding: 20px;
    overflow:hidden;
}


.trademark-comments-container {
    font-size: 16px;
}

.main-comment {
	width: 80%;
	float: left;
}

.comment-date-filter {
    float: right;
}

.comment-details {
	color: grey;
    font-size: 14px;
}

.comment-text-area {
    margin-top: 10px;
    width: 98%;
    max-width: 98%;
    height: 150px;
    font-family: 'Karla';
    font-size: 16px;
    padding: 5px;
}

select:focus, textarea:focus, input:focus{
    outline: 0;
}

input {
	font-family: 'Karla';
}

.center {
	margin: 0 auto;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(200, 200, 200);;
    
}

.favourite {
   color: rgb(236, 236, 90);
}


.non-favourite {
              color: #cecece; 
}

/* menu options */

.white-link {
    color: white;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    padding: 12px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #9a9a9a;
}

.menu-container {
    padding: 20px;
    color: white;
    font-size: 16px;
}

/* Columns and layout */

.row {
    width: 100%;
    /*margin: 0 auto;*/
    overflow: hidden;
}

.show-mark-list {
    margin-bottom: 10px;
}

.one-half-container {
    margin-right: 3.8%;
    width: 48%;
    min-height: 1px;
    float: left;
}

.one-third-container {
    margin-right: 2%;
    width: 32%;
    min-height: 1px;
    float: left;
}

.two-third-container {
	margin-right: 2%;
	width: 62%;
	min-height: 1px;
	float: left;
}

.one-quarter-container {
    margin-right: 1%;
    width: 22%;
    min-height: 1px;
    float: left;
}

.full-width-container {
    
}

.float-right {
    float: right;
}

.opaque {
    opacity: 0.7;
}

.opaque:hover {
    opacity: 1;
    cursor: pointer;
}

.float-left {
	float: left;
}

select {
    font-family: 'Karla';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-wrapper input {
    -moz-box-sizing: border-box;
}

.spinner {

    width:72px;
    height: 72px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url('/css/spinner.gif') no-repeat center #B1D3FA;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

.loading-box {
	padding: 30px;
	background: white;
	font-weight: bold;
	    position: fixed;
	    left: 50%;
	    top: 50%;
	    margin-left: -70px;
        margin-top: -50px;
	    text-align:center;
	    z-index:2;
        overflow: auto;
}

.white-link {
    color: white;
}

.upload-title {
    padding-bottom: 20px;
    font-weight: bold;
}

.upload-list {
    list-style: none;
    padding: 0;
}


.medium-text {
    font-size: 16px;
}

.medium-plus {
	font-size: 18px;
}

.group-btn {
    margin-top: 10px;
    background: #41B441;
    color: white;
    float: right;
}

.upload-image-btn {
	padding: 10px 20px;
}

.edit-group-btn {
    padding: 10px 35px;
}

.group-logo-holder{
	width: 150px;
	margin: 20px 0 0 20px;
	margin-top: 20px;
	float: left;
}

.logo-holder {
    width: 150px;
}

.small-logo-holder {
    width: 100px;
}

.confirm-delete-message {
 	float: right; 
 	margin-top: 10px;
 	font-size: 14px;
}
.view-country-map {
	margin: 10px 0;
}

.view-country-line {
    border-bottom: 1px solid #9a9a9a;
	margin-bottom: 10px;	
}

.view-group-panel-container {
    padding: 20px;
    background: white;
    overflow: hidden;
    margin-top: 20px;
}

.view-group-title {
   font-weight: bold;
}

.view-group-subtitle {
	font-size: 30px;
        padding-top: 10px;
}

.form-holder {
    margin: 40px auto;
	font-size: 20px;
	max-width: 400px;
	background: white;
	overflow: hidden;
}

.main-trademark-container {
	font-size: 20px;
	background: white;
	overflow: hidden;
}


.view-trademark-container {
     padding: 10px 30px 15px 30px; 	
}


.view-trademark-list {
     margin: 0;
     padding: 0;
     list-style: none;
}

.view-trademark-list li {
   padding-top: 5px;
   padding-bottom: 5px;
}


.bold {
    font-weight: bold;
}
   
.small-text {
    font-size: 14px;
    color: #4C4747;
}

.hover-underline:hover {
	cursor: pointer;
	text-decoration: underline;
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: white;
    height: 40px;
}

.tabs li {
    float: left;
    padding: 10px;
    background: black;
    margin-right: 20px;
}

.tabs li.activepane a {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tabs li a {
    color: white;
    text-decoration: none;
}

.tab-pane {
    display: none;
}

.activetab {
    display: block;
}

.hover-cursor:hover {
    cursor: pointer;
}

.paginator {
    overflow: hidden;
}

.pagination-prev {
    margin-right: 10px;
    float: left;
     padding-top: 10px;
}

.pagination-next {
    float: left;
    padding-top: 10px;
}

.pagination-first {
    margin-right: 10px;
    float: left;
    padding-top: 10px;
}

.pagination-last {
    margin-right: 10px;
    float: left;
     padding-top: 10px;
}

.pagination-number {
    margin-right: 10px;
    float: left;
    background: #3F3838;
    color: white;
    padding: 10px;
}

.clear {
    clear: both;
}

.expiry-search-container {
    background: white;
    margin: 10px 0;
    width: 540px;
}

.admin-panel {
    margin-top: 20px;
    background: white;
    padding: 15px;
    overflow: hidden;
}

.admin-panel a {
    text-decoration: none;
    color: white;
}

.admin-panel-title {
    font-size: 30px;
    margin-top: 8px;
}

.admin-panel-holder {
    float: left;
}

.panel-subtitle {
    font-size: 16px;
    margin-top: 5px;
}

.remove-results {
    float: right;
    margin-left: 10px;
}

.remove-results:hover {
    cursor: pointer;
}

.panel-search {
    float: right;
}

.search-results {
    background: white;
    padding: 20px;
    margin: 20px 0;
    overflow: hidden;
}

.no-results {
    background: red;
    padding: 10px;
    color: white;
    margin-top: s;
    width: 200px;
    text-align: center;
}

.search-list {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden;
}

.search-list li {
    float: left;
    font-size: 18px;
    margin: 0 20px 20px 0px;
    width: 30%;
    background: #f0f0f0;
}

.search-content  {
	padding: 20px;
}

.search-text {
    margin-bottom: 5px;
}

.search-text-mark {
    margin-bottom: 5px;
    font-weight: bold;
}

.map-container {
    padding: 20px;
    background: white;
    margin-top: 20px; 
}

#admin-map {
    height: 500px;
    width: 100%;
    margin-top: 10px;
}

.stat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.stat-list-admin {
    margin-bottom: 50px;
}

.stat-list-group {
    margin-bottom: 10px;
}

.stat-list li {
    width: 100px;
    float: left;
    margin-right: 40px;
}

.stat-header {
    font-size: 30px;
}

.stat-subtitle {
    margin-bottom: 5px;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 5px;
}

.sub-stat-header {
    font-size: 25px;
}

.no-trademark-container {
    padding: 30px 20px;
    background: white;
    margin-top: 20px;
}

.landing-page-container {
    background: white;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.landing-page-trial {
    font-weight: bold;
    margin-top: 20px;
}

.contact-form-title {
    background: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 125px;
}

.title-container {
    background: rgb(255, 255, 172);
    padding: 25px;
    max-width: 325px;
}

.left-home-column {
    float: left;
    width: 40%;
    margin-right: 30px;
}

.features-title {
    margin-top: 30px;
    font-weight: bold;
}

.features {

    margin: 0 0 0 20px;
    padding: 0;
}

.features li {
    padding: 10px 0;
}

.landing-page-right-column {
    float: left;
    width: 50%;
    
}

.features-container {
    padding: 0 30px;
}

.screenshot {
    
    width: 100%;
    border: 0;
    vertical-align: bottom;
}

.screenshot-container {
   margin-top: 70px;
    margin-bottom: 50px;	
}

.home-title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

.portfolio-home-title {
	font-size: 30px;
}

.portfolio-subtitle {
    margin-top: 20px;
    font-size: 25px;
}

.portfolio-icons {
	float: right;
	padding: 20px;
}

.logout-button {
    float:right;
    margin-top: 20px;
}

.home-demo-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3.2;
}

.home-demo-link:active {
   box-shadow: 0 5px 0 0 #53994b;
   top: 5px;
}

.home-demo-link:hover {
    cursor: pointer;
}

.demo-button {
    margin-top: 30px;
    background: #41B441;
    text-align: center;
    font-size: 30px;
    position: relative;
    box-shadow:0 10px 0 0 #53994b;
}

.demo-button:active {
   box-shadow: 0 5px 0 0 #53994b;
   top: 5px;
}

.home-subtitle {
    font-size: 30px;
}


.bar-chart-container {
    padding: 20px;
    background: white;
    margin-top: 20px;
}


.incomplete-container {
    padding: 20px;
    background: white;
    margin-top: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.chart-container {
    margin-top: 15px;
}

.pie-chart-container {
    padding: 20px;
    background: white;
    overflow: hidden;
}

.left-half-container {
    padding: 20px;
    background: white;
}

.right-half-container {
    padding: 20px;
    background: white;
}

.group-mark-select {  
    height: 45px;
    width: 99.5%;
    margin: 0;
    font-family: 'Karla';
    padding-left: 10px;	
    font-size: 18px;
    /*-webkit-appearance: button;*/
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 0 2px 2px 2px;
    border: 0;
    background: white;
}

@-moz-document url-prefix() {
    .group-mark-select {
        padding-top: 4px;
    }
}

.group-mark-list {
    margin-top: 15px;
}

.map-mark-list {
    margin-top: 25px;
}

.country-list{
    margin-top: 15px;
}

.mark-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin: 10px 0;
    overflow:hidden;
}

.mark-list li {
    float: left;
    padding: 5px 9px 5px 9px;
    margin: 5px 9px 5px 0;
}

.mark-list li.activemark {
    background: #3F3838;
    color: white;
}


.mark-list li.inactivemark {
    background: white;
    color: black;
}
       
.tick-boxes {
    margin-bottom: 14px;
}

.user-container {
    padding: 20px;
    background: #3F3838;
    color: white;
    margin-bottom: 20px;
}

.small-input {
    border: 0;
    padding: 5px;
    border: 1px solid #999;
    width: 400px;
    margin-top: 15px;
    font-size: 14px;
}

.small-button {
    height: 30px;
    font-size: 14px;
    margin: 15px 0 10px 0;
    padding: 0 10px 0 10px;
    -webkit-appearance:button;
}

.alert-number-input {
    width: 100%;
    padding: 6px;
    border: 1px solid #999;
    font-size: 14px;
    font-family: 'Karla';
}

.user-email {
    font-size: 20px;
    margin-bottom: 20px;
}

.alert-form {
    margin: 10px 0;
}

.alert-type-select {
    width:100%;
    -webkit-appearance: button;
    padding: 4px;
    font-family: 'Karla';
    font-size: 14px;
}

.reminder-list {
    list-style:none;
    margin: 0;
    padding: 0;
    margin: 0 0 20px 0;
}

.alert-subtitle {
    font-size: 14px;
    margin-top: 10px;
}

.remove-alert {
    float: right;
}

.remove-alert:hover {
    cursor: pointer;
}

.alert-title {
    font-size: 20px;
    font-weight: bold;

}

.alert-list-container {
     border-top: 1px solid #9a9a9a;
     padding-top: 20px;
     margin-top: 25px;
}

.alert-list {
    list-style:none;
    margin: 0;
    padding: 0;
    margin: 0 0 10px 0;
}

.alert-list li {
    font-size: 14px;
    padding-top: 10px;
}

.expiry-chart-title {
    font-weight: bold;
}

.registered-key {
    border-bottom-style: solid;
    border-bottom-color: #F38630;
    border-bottom-width: 5px;
}

.pending-key {
    border-bottom-style: solid;
    border-bottom-color: #69D2E7;
    border-bottom-width: 5px;
}

.published-key {
    border-bottom-style: solid;
    border-bottom-color: #E0E4CC;
    border-bottom-width: 5px;
}

.modal-overlay {
    background: #333;
    opacity: 0.5;
    z-index: 1001;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.animation-button {
    background: black;
    color: white;
    padding: 10px;
    margin-right: 10px;
}

.year-selector {
    height: 40px;
    float: right;
    margin-top: 30px;
    color: black;
}

.basic-modal {
  background: white;
  width: 400px;
  left: 35%;
}


.modal-container {
    padding: 10px 20px 20px 20px;
}

.edit-modal {
  background: white;
  left: 25%;
  right: 25%;
  position: absolute;
  height: auto;
  z-index: 1900;
  top: 0;
}

.modal-form {
	
}

.modal-title { 
   background:	#3F3838;
   color: white;
   font-weight: bold;
   padding: 10px 20px;
}

.modal-subtitle {
	font-size: 18px;
	margin-top: 5px;
	color: rgb(202, 184, 184);
}

.modal-reg-no {
    padding: 0 0 10px 0;
}

.modal-filing-date {
    padding: 10px 0;
}

.modal-buttons {
	margin-top: 10px;
	overflow: hidden;
}

.favourite-holder {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.favourite-container {
    padding: 20px;
    background: white;
    margin-bottom: 20px;

}

.modal-expiry-date {
    padding: 0 0 10px 0;
}

.modal-unregistered-app-no {
    float: left;
}

a {
  text-decoration: none;
  color: black;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
}

.form-select {
    height: 45px;
    width: 85%;
    margin: 0 0 20px 0;
    font-family: 'Karla';
    padding-left: 10px;	
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #9a9a9a;
    background: white;
}

.footer {
    height: 100px;
    clear: both;
    background: #3F3838;
    margin-top: 100px;
}

.push {
	height: 100px;
}

.edit-button {
    color: green;
    float: right;
}

.delete-button {
    color: red;
    float: right;
}

.search-edit-button {
    font-size: 14px;
    float: right;
}

.search-edit-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.radio {
    margin: 10px 0;
    font-size: 18px;
}

.showDetails {
    display: block;
}

.hidden {
    display: none;
}

.details-button {
   
    padding-top: 5px;
}

.details-button:hover{
    cursor: pointer;
}

.class-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.class {
    font-size:14px;
    padding: 5px;
    background: #1f1f1f;
    color: white;
    width: 18px;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 4px;
    float: left;
    text-align: center;
}

.trademark-container {
    padding: 20px 0;
    display:block;
    overflow:auto;
    background: white;
}

.country-holder {
    padding: 20px 0;
    font-size: 30px;
}

.tm-list {
    list-style: none;
    margin: 10px 0 20px 0;
    padding: 0;
}

.tm-list-li {
    font-size: 14px;
    padding: 12px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #9a9a9a;
    overflow: hidden;
}

.tm-list-li.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.tm-list-li.ng-enter {
  left:-10px;
  opacity:0;
}
.tm-list-li.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.tm-list-content {
    float: left;
    width: 80%;
}

.trademark-name {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.registered-title {
    color: white;
    padding: 10px;
    background: #41B441;
}

.pending-title {
    color: white;
    padding: 10px;
    background: #ff3333;
}

.published-title {
    color: white;
    padding: 10px;
    background: #e66000;
}

.reg-date {
    padding-bottom: 10px;
}

.filing-date {
    padding-bottom: 10px;
}

.reg-no {
    padding-bottom: 10px;
}

.input {
    position: relative;
    margin: 15px 10px 0 0;
    font-size: 20px;
    line-height: 1.2em;
    padding: 5px;
    width: 100%;
    max-width: 200px;
}

.search-input {
    position: relative;
    margin: 15px 10px 0 0;
    font-size: 20px;
    line-height: 1.2em;
    padding: 5px;
    width: 400px;
}

.button {
    height: 40px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

}

html,
body {
    height:100%;
    margin: 0; 
    padding:0; 
    font-family:  'Karla', Arial;
    font-size: 18px;
    background: linear-gradient(to bottom, #88bfe8 0%,#dbf6ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed
}

.display-none {
    visibility: hidden;
}

#container {
    width: 90%;
    margin: 0 auto;
}

.fixed-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

input {
    font-family: 'Karla', Arial;
}

.last {
    margin-right: 0;
}

.place-holder {
    border-style: dotted;
    border-width: 1px;
    height: 400px;
    margin: 20px 0;
}

.main-title {
    font-size: 28px;
    margin: 10px 0 30px 0;
    padding: 30px;
    background: #47C2AB;
    color: white;
}

a {color: #000000;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}


#maincontainer {
    position:relative;
    width:100%;   
    min-height:100%;
    margin:0;
    padding:0;
}

.hover:hover{
 cursor: pointer;
}

a img {
border: none;
margin: 0px 10px 10px 0px;
}

.account {
	color: white;
	float: right;
	margin-right: 20px;
	margin-top:5px;
    font-weight: bold;
}

.header {
    width:100%;
      background: linear-gradient(to bottom, #2d4879 0%,#4c679b 100%);
    height: 40px;
    padding-top: 10px;
}

.logo {
    height: 22px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
    margin-top: 3px;
}

.header-title {
    font-size: 24px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    float: left;
}

#map {
    width: 100%;
    height:700px;
}

.map-country-selector {
    margin: 10px 0;
}

.grey-li {
    background: #f0f0f0;
}

/* LOGIN BOX */

.forgotten-password {
      font-size: 14px;
}



.login-message {
	margin-top: 20px;
	background: red;
	padding: 10px;
	color: white;
	width: 350px;
}

.form-body {
    
    margin: 0;
    padding: 0;
    min-height: 100%;
    
}

.form-container {
    margin: 0 auto;
    padding: 10px 15px 15px 30px;
    font-size: 20px;
    max-width: 400px;
    background: white;
    overflow: hidden;
}

.home-form-container {
    margin: 40px 0;
    padding: 10px 15px 15px 30px;
    font-size: 20px;
    background: #3F3838;
    color: white;
    overflow: hidden;
}

.form-input {
	position: relative;
	margin: 0 10px 10px 0;
	font-size: 18px;
	line-height: 1.2em;
	width: 80%;
	padding: 6px;
	border: 0;
	border-bottom: 1px solid #9a9a9a;
}

.form-upload {
	position: relative;
	margin: 0 10px 10px 0;
	font-size: 20px;
	line-height: 1.2em;
	padding: 6px 0;
	width: 80%;
 
}

.search-form-input {
	font-size: 18px;
	border: 0;
	padding: 6px;
    margin-right: -5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}

.expiry-form-input {
    font-size: 20px;
	border: solid 1px #999;
	padding: 6px;
    margin: 10px -40px 10px 0;
    width:90%;
}


.search-button {
    color: black;
    background: white;
    padding: 7px 7px 8px 7px;
}

.expiry-form {
    width: 70%;
}

.expiry-title { 
    font-size: 25px;
    font-weight: bold;
}

.add-button {
    height: 40px;
    font-size: 18px;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    -webkit-appearance:button;

}

.form-title {
    padding: 10px 0 10px 0;
}
/* QUICK SEARCH PAGE */

.quick-search-container {
	padding: 25px 25px 50px 25px;
	background: white;
	margin-top: 20px;
}

.quick-search-title {
	font-weight: bold;
	font-size: 25px;
}

.quick-search-msg {
	margin-top: 30px;
	font-size: 20px;
}

.quick-search-result {
     	margin: 30px 0;
	font-size: 20px;

}

.qs-wording {
	margin: 20px 0 15px 0;
	font-size: 20px;

}

.qs-line {
	width: 400px;
}

.qs-select {  
    height: 45px;
    margin: 0;
    width: 400px;
    font-family: 'Karla';
    font-size: 20px;
    /*-webkit-appearance: button;*/
    border: 0;
}

.qs-question-mark{
	font-size: 20px;
	margin-left: 20px;
	line-height: 2em;	
}

.qsincomplete {
	border-bottom: solid 3px rgb(229, 101, 101);	
}

.qscomplete {
	border-bottom: solid 3px rgb(54, 206, 109);		
}

/* PORTFOLIO HOME PAGE */

.home-block {
	
background: #3F3838;
color: rgb(200, 200, 200);
font-size: 24px;
font-weight: bold;
height: 100px;
line-height: 6em;
margin-top: 20px;
   padding-left: 10px;

}

/* MOBILE RESPONSIVE CHANGE */

@media handheld, only screen and (max-width: 700px) {
    
    .last-margin-top {
        margin-top: 15px;
    }
    
    .landing-page-container {
        width:100%;
    }
    
    .fixed-container {
        margin: 0 auto;
        width: 97%;
    }

.standard-container {
    padding: 15px;
}
    
    .country-list {
        margin-top: 0;
    }
    
    .left-home-column {
        width: 100%;
        margin: 0;
    }
    
    .landing-page-right-column {
        display:block;
        width: 100%;
        margin-top: 0;
    }
    
    .screenshot {
    	margin-top: 0;
    }
    
    .row, .one-half-container, .one-third-container, .one-quarter-container, .two-third-container {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .panel-search {
        float: none;
    }
    
    .country-img {
        width: 100%;
    }
    
    .basic-modal {
	  background: white;
	  width: 94%;
	  font-size: 18px;
	  left: 0;
	  margin: 0 3%;
	}


	.edit-modal {
	  background: white;
	  width: 94%;
	  left: 0;
	  margin: 0 3%;
	}
	
	.menu-modal {
	    width: 80%;
	}
   
    .qs-select {
    	width: 80%;
    }
    
    .qs-line {
	width: 80%;
}

    
    .search-input {
        width:100%;
    }
    
    .hide-on-mobile {
    	display: none;
    }

    .show-on-mobile {
        display: block;
    }
	
    .login-modal {
        width: 95%;
        left: 2%;
    }
    
    .search-list li {
    	width: 100%;
    }
}
