<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container">
    <div class="row">
        <div mg-search-panel swipe-event="swipeEvent" show-modal="showModal" active-portfolio="activePortfolio">
        </div>
    </div>


    <div class="row margin-top-twenty">
    <div class="standard-container shadow">

            <div class="one-half-container">
              <div class="map-country-selector">
                  <div mg-country-selector countries="countries" title="Go to country" go-to-group="showCountry">
                  </div>
              </div>
            </div>

          <div mg-clear></div>

          <div class="hover show-mark-list" ng-init="showMarkList = false" ng-click="showMarkList = !showMarkList"><span ng-hide="showMarkList">Show</span><span ng-show="showMarkList">Hide</span> list of marks</div>
          <div ng-show="showMarkList" mg-mark-list-displayer send-marks-to-server="sendMarksToServer" marks="marks"></div>

    
      <div mg-map id="map" geojson="geojson"></div>
      
      <div ng-show="registered || pending || published || nocontent" class="trademark-container">
        <div class="country-holder f32"> {{ country }}  </div>
        <span ng-show="nocontent">No trade marks for this country</span>

         <div class="one-third-container" mg-registered-trademark-list registered="registered" show-modal="showModal"></div>
         <div class="one-third-container" mg-published-trademark-list published="published" show-modal="showModal"></div>
         <div class="one-third-container last" mg-pending-trademark-list pending="pending" show-modal="showModal"></div>
         
      </div>

</div>
</div>
</div>
