<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent" ng-class="{moveright: swipeEvent, moveleft: !swipeEvent }"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container margin-top-twenty">
  <div class="one-half-container">
      <div class="standard-container shadow">
          <div mg-account-details-widget user="user"></div>
      </div>
    </div>
    <div class="one-half-container last last-margin-top">
                <div class="standard-container">
                    <div class="user-email">{{ user.email }}</div>
                    <div tabs>
                        <div mg-clear></div>
                        <div pane title="Alerts">
                            <div mg-admin-alert-widget user="user"></div>
                        </div>
                    </div>
                </div>
            </div>
  </div>

