<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container">
    <div class="row">
        <div mg-search-panel swipe-event="swipeEvent" active-portfolio="activePortfolio">
        </div>
    </div>
    <div class="row margin-top-twenty"> 
        <div class="one-third-container">
             <div mg-trademark-container trademark='trademark' user='user'></div>
        </div> 
        <div class="two-third-container last last-margin-top">
            <div class="comments-container shadow">
                <div mg-bold>
                    Comments
                </div>
                <div mg-trademark-comments user='user' trademark='trademark'></div>
            </div>
        </div>
    </div>
</div> 

