<div class="dropdown-menu">
	<div class="menu-container large-shadow">
		<ul class="menu-list">
			<li class="hover-underline" ng-show="!user" ng-click="login()">Login</li>
			<li class="hover-underline" ng-show="user" ng-click="logout()">Logout</li>
			<li ng-show="user"><a class="white-link" href="settings">Settings</a></li>
			<li ng-show="!user"><a class="white-link" href="terms">Terms</a></li>
			<li><a class="white-link" href="home">Home</a></li>
			<li><a class="white-link" href="about">About</a></li>
		</ul>
	</div>
</div>
