<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent" ng-class="{moveright: swipeEvent, moveleft: !swipeEvent }"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container margin-top-twenty">
    <div class="no-trademark-container" ng-show="!favourites">
        You haven't added any favourites yet...
      </div>
  <div class="one-third-container">
    
    <div ng-show="favourites" class="shadow favourite-container">
          <div mg-bold>Favourite marks<i class="favourite float-right fa fa-star fa-2x"></i></div>
             <div class="paginator" mg-paginator show-modal="activateTrademark" paginated-marks="favourites" items-per-page="10">
                         <div show-modal="outerShowModal" items="items" paginated-marks="paginatedMarks" mg-admin-favourites></div>
             </div> 
      </div>
  </div>
  <div class="one-third-container">
      <div edit-trademark="openEditTrademarkModal" delete-trademark="deleteTrademark" ng-show="activeTrademark" mg-trademark-container trademark='activeTrademark' user='user'></div>
  </div>
  <div class="one-third-container last last-margin-top">
      <div ng-show="activeTrademark" class="comments-container shadow">
            <div mg-bold>Comments</div>
            <div mg-trademark-comments user='user' trademark='activeTrademark'></div>
        </div>
  </div>
</div>
