
    <div class="slide-menu" ng-class="{moveright: swipeEvent, moveleft: !swipeEvent }">
      <div class="modal-close hover" ng-click="swipeEvent=false"><i class="fa fa-times"></i></div>
        <div class="menu-container">   
       <div mg-bold>Menu</div>
        <ul class="menu-list">
             <li>
                <a class="white-link" ng-href="home">Home</a>
            </li>
             <li>
                <a class="white-link" ng-href="dashboard/{{activePortfolio}}">Dashboard</a>
            </li>
            <li>
                <a class="white-link" ng-href="map/{{activePortfolio}}">Map</a>
            </li>
            <li>
                <a class="white-link" ng-href="quick-search/{{activePortfolio}}">Quick search</a>
            </li>
            <li>
                <a class="white-link" ng-href="favourites/{{activePortfolio}}">Favourites</a>
            </li>
            <li>
                <a class="white-link" ng-href="add/trademark/{{activePortfolio}}">Add trademark</a>
            </li>
            <li>
                <a class="white-link" ng-href="/users">Users</a> 
            </li>
        </ul>
       </div>  
    </div>

