<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent" ng-class="{moveright: swipeEvent, moveleft: !swipeEvent }"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container">
    <div class="row">
        <div class="admin-panel">
            <div class="one-half-container">
                <div class="admin-panel-holder">
                    <div class="admin-panel-title"><span>{{ activePortfolio }}</span></div>
                </div>
            </div>
            <div class="one-half-container last">
                <div class="panel-search" mg-search-input search-results="searchResults"></div>
            </div>
        </div>
    </div>
       
    <div class="no-trademark-container" ng-hide="trademarks">Oops, it looks like there are no trade marks to view. Import some <a href="/upload">here</a>
    </div>
    <div ng-show="trademarks">
        <div class="row">
            <div class="one-half-container">
                <div class="group-mark-list" mg-group-selector marks="marks" title="Show group of marks" go-to-group="showGroup"></div>
            </div>
            <div class="one-half-container last last-margin-top">
                <div class="country-list" mg-country-selector countries="countries" title="Show country" go-to-group="showCountry"></div>
            </div>
        </div>
        <div mg-clear></div>
        <div class="row">
        <div mg-search-results show-modal="showModal" search-results="searchResults"></div>
        </div>
        <div mg-clear></div>
        <div class="row">
            <div class="chart-container">
                <div class="one-half-container">
                    <div class="pie-chart-container shadow">
                        <div ng-init="activeMark= 'ALL MARKS'" class="view-group-title">{{ activeMark }} 
                        </div>
                        <div>Summary</div>
                        <div class="stat-header">{{ trademarks.length }}</div>
                        <div class="stat-subtitle">Total</div>
                        <div>
                            <ul class="stat-list stat-list-admin">
                                <li ng-show="chartSubtitles[0]">
                                    <div class="sub-stat-header">{{ chartSubtitles[0].number }}</div>
                                    <div class="registered-key">{{ chartSubtitles[0].status }}</div>
                                </li>
                                <li ng-show="chartSubtitles[1]">
                                    <div class="sub-stat-header">{{ chartSubtitles[1].number }}</div>
                                    <div class="published-key">{{ chartSubtitles[1].status }}</div>
                                </li>
                                <li ng-show="chartSubtitles[2]">
                                    <div class="sub-stat-header">{{ chartSubtitles[2].number }}</div>
                                    <div class="pending-key">{{ chartSubtitles[2].status }}</div>
                                </li>
                            </ul>
                        </div>
                        <div mg-clear></div>

                        <canvas piechart options="pieOptions" data="pieData" ></canvas>
                    </div>
            </div>
            <div class="one-half-container last last-margin-top">
                    <div class="standard-container shadow">
                        <div mg-bold>Favourite marks<i class="favourite float-right fa fa-star fa-2x"></i>
                    </div>
                    <div class="paginator" mg-paginator show-modal="showModal" paginated-marks="favouriteMarks" items-per-page="10">
                         <div show-modal="outerShowModal" items="items" paginated-marks="paginatedMarks" mg-admin-favourites></div>
                    </div> 
                </div>
                </div>
            </div>
        </div>

        <div mg-clear></div>
        <div class="row hide-on-mobile">
            <div class="bar-chart-container shadow">
                <div class="expiry-chart-title">Expiry dates<span class="hide-on-mobile"><i class="opaque float-right  fa fa-bar-chart-o fa-2x"></i></span>
                </div>
                <div class="one-half-container">
                    <div class="expiry-chart-search">
                        <div>
                            <form>
                                <select class="group-mark-select" ng-change="expirySearch(year)" ng-model="country" ng-options="year for year in years">
                                    <option value="">{{ year }}</option>
                                </select>
                             </form>
                          </div>
                    </div>
                </div>
                <canvas barchart options="options" data="chart" width="1100" height="400"></canvas>
            </div>
        </div>

        <div mg-clear></div>

        <div class="row">
            <div class="map-container shadow">
                <div mg-bold>Map<i class="opaque float-right fa fa-globe fa-2x"></i>
                </div>
                <div class="expiry-search-container">

                </div>
                <div class="hover" ng-init="showMarkList = false" ng-click="showMarkList = !showMarkList">
                    <span ng-hide="showMarkList">Show</span>
                    <span ng-show="showMarkList">Hide</span> 
                    <span style="margin-right: 15px;">list of marks</span>
                    <span ng-hide="showMarkList"><i class="fa fa-chevron-down"></i></span>
                    <span ng-show="showMarkList"><i class="fa fa-chevron-up"></i></span> 
                </div>

                <div ng-show="showMarkList" mg-mark-list-displayer send-marks-to-server="sendMarksToServer" marks="marks"></div>

                <div mg-map id="admin-map" geojson="geojson"></div>
                <div class="row">
                    
                
                <div class="one-half-container">
                    <div class="margin-top" mg-group-selector marks="marks" title="Go to group of marks" go-to-group="goToGroup"></div>
                </div>
                <div class="one-half-container last last-margin-top">
                    <div class="margin-top" mg-country-selector countries="countries" title="Go to country" go-to-group="goToCountry"></div>
                </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="one-half-container">
                <div class="standard-container shadow">
                    <div mg-bold>Incomplete marks<i class="opaque float-right fa fa-ban fa-2x"></i>
                    </div>
                    <div class="paginator" mg-paginator show-modal="showModal" paginated-marks="incompleteMarks" items-per-page="10">
                        <div show-modal="outerShowModal" mg-admin-incomplete items="items" paginated-marks="paginatedMarks"></div>
                    </div>
                </div>
             </div>
            <div class="one-half-container last last-margin-top">
                 <div class="standard-container shadow">
                        <div mg-bold>Upcoming expiries<i class="opaque float-right fa fa-clock-o fa-2x"></i></div>
                        <div class="paginator" mg-paginator show-modal="showModal" paginated-marks="sortedByExpiry" items-per-page="10">
                        <div show-modal="outerShowModal" mg-admin-expiry items="items" paginated-marks="paginatedMarks"></div>
                    </div>
                    </div>

                
            </div>
        </div>
        <div class="row margin-top">
            <div class="one-half-container">
                <div class="standard-container shadow">
                        <div mg-bold>Recent activity
                    </div>
                       <div class="paginator" mg-activities-paginator show-modal="showModal" activities="activities" items-per-page="10">
                    </div> 
                </div>
            </div>
            <div class="one-half-container last last-margin-top">
                <div class="user-container">
                    <div class="user-email">{{ user.email }}</div>
                    <div tabs>
                        <div mg-clear></div>
                        <div pane title="Alerts">
                            <div mg-admin-alert-widget user="user"></div>
                        </div>

                        <div mg-clear></div>
                        <div pane title="Account">
                            <div mg-account-details-widget user="user"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
            
         
    </div>
</div>

