<div class="admin-panel shadow">
            <div class="one-half-container">
                <div class="admin-panel-holder">
                    <div class="admin-panel-title"><span class="margin-right-twenty hover"><i class="fa fa-bars" ng-click="swipeEvent = !swipeEvent"></i></span><span><a href="/home">{{ activePortfolio }}</a></span></div>
                </div>
            </div>
            <div class="one-half-container last">
                <div class="panel-search" mg-search-input search-results="searchResults"></div>
        </div>
 
        <div mg-search-results search-results="searchResults"></div>
       
</div>
