<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent" ng-class="{moveright: swipeEvent, moveleft: !swipeEvent }"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container">
    <div class="view-group-panel-container">
        <div class="row">
            
          <div class="one-half-container">
            <div>
                <div class="portfolio-home-title">{{ title }}</div>
                <div mg-bold>Summary</div>
                <div class="stat-header">{{ trademarks.length }}</div>
                <div class="stat-subtitle">Total</div>
                <div>
                    <ul class="stat-list stat-list-group">
                        <li ng-show="chartSubtitles[0]">
                            <div mg-bold class="sub-stat-header">{{ chartSubtitles[0].number }}</div>
                            <div class="sub-stat-row">{{ chartSubtitles[0].status }}</div>
                        </li>
                        <li ng-show="chartSubtitles[1]">
                            <div  mg-bold class="sub-stat-header">{{ chartSubtitles[1].number }}</div>
                            <div class="sub-stat-row">{{ chartSubtitles[1].status }}</div>
                        </li>
                        <li ng-show="chartSubtitles[2]">
                            <div mg-bold class="sub-stat-header">{{ chartSubtitles[2].number }}</div>
                            <div class="sub-stat-row">{{ chartSubtitles[2].status }}</div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="one-half-container last">
            
            <div>
                <div mg-group-selector marks="marks" title="Go to group of marks" go-to-group="goToGroup"></div>

               <div>
                    <div ng-show="trademarks[0].imageUrl"><img class="group-logo-holder" ng-src="{{ trademarks[0].imageUrl}}"></div>
                    <div class="float-right margin-top">
                        
                        <span title="Edit group" ng-click="showEditGroupModal()"><i class="opaque fa fa-pencil fa-2x"></i>
                        </span>
                        <span>
                        <span class="margin-left" title="Upload image" ng-click="showUploadImageModal()"><i class="opaque fa fa-camera-retro fa-2x"></i>
                        </span>
                    </div>
                </div>

            </div>
         </div>
   
</div>
      <div mg-map id="map" geojson="geojson"></div>
      
      <div ng-show="registered || pending || published || nocontent" class="trademark-container">
        <div class="country-holder f32"> <a href="/admin/country/{{alpha3}}">{{ country }} </a> </div>
        <span ng-show="nocontent">No trade marks for this country</span>
         <div class="one-third-container" mg-registered-trademark-list registered="registered" show-modal="showModal"></div>
         <div class="one-third-container" mg-published-trademark-list published="published" show-modal="showModal"></div>
         <div class="one-third-container last" mg-pending-trademark-list pending="pending" show-modal="showModal"></div>
      </div>
      <br></br>
   
</div>
