  <!doctype html>
<html id="ng-app" ng-app='app' ng-controller='authCtrl'>
  <head>
  <meta charset="utf-8"/>
  <title>Fennec</title>
            <link rel="stylesheet" href="/production/bundle.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>
  <body mg-menu-mover menu-modal="menuModal">
      <div class="header">
          <span class="header-logo"><a class="white-link" href="/">Fennec</a></span>
          <span ng-show="isUser()" <a class="white-link" href="/select-portfolio">Account</a></span>
          <span ng-hide="isUser()" class="logout"><a class="white-link" href="/login">Login</a></span>
      </div>
      <div class="spinner" ng-show="loadingView"></div>
      <div ng-view>
      </div>
      <div class="footer" style="clear: both"></div>
      <div ng-class="{'modal-overlay': modal}" ng-show="modal" ng-click="removeModalOverlay()"></div>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script src="/vendor/leaflet.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
      <script src="/vendor/angular-route.js"></script>
      <script src="/vendor/modal.min.js"></script>
      <script src="/vendor/angles.js"></script>
      <script src="/vendor/angular-moment.js"></script>
      <script src="/vendor/upload.js"></script>
      <script src="/vendor/config.js"></script>
      <script src="/production/bundle.js"></script>

      <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.standalone.js'></script>
  </body>
</html>



