<div mg-admin-menu active-portfolio="activePortfolio" swipe-event="swipeEvent"></div>
<div ng-swipe-right="swipeEvent=true" ng-swipe-left="swipeEvent=false" ng-hide="loadingView" class="fixed-container">
    <div class="row">
        <div mg-search-panel swipe-event="swipeEvent" show-modal="showModal" active-portfolio="activePortfolio">
        </div>
    </div>

    <div class="row margin-top-twenty">
    <div class="view-group-panel-container">
    <div class="row">
        <div class="one-half-container">
        <div class="expiry-title">
            Trademarks expiring in {{ activeYear }}
            </div>
        <div class="margin-t-b">
            <div mg-year-selector expiry-search="expirySearch"></div>
          </div>
    </div>
    </div>
    <div mg-clear></div>

      <div mg-map id="map" geojson="geojson"></div>
      <div class="one-third-container">
          <div ng-show="registered" class="trademark-container">
            <div class="country-holder f32"> {{ country }}  <div class="flag" ng-class="countrycode"></div></div>
            <span ng-show="nocontent">No trade marks for this country</span>
             <div class="full-width-container" mg-registered-trademark-list registered="registered" show-modal="showModal"></div>
          </div>
      </div>
    </div>
    </div>
</div>
