<div class='class-selector-container'>
  <div ng-model='fullClasses'>
    <ul class="class-selector-list">
      <li ng-click='toggleClass($index)' class='hover' ng-class='{  currentclass: d.checked, noncurrentclass: !d.checked }' ng-repeat='d in fullClasses'>{{ d.cl }}
      <span>
        <input style='display:none'  class='checkbox' ng-model='d.checked' type='checkbox' value='0'>
      </span>
      </li>
    </ul>
  </div>
  <div><span class="select-all-classes hover" ng-click="selectAll()">Select all</span><span class="remove-all-classes hover" ng-click="removeAll()">Remove all</span></div>
</div>
