<div id="form-body">
     <div class="form-container">
          <div class="form-title">Change password</div>
           <form novalidate name="changePasswordForm" ng-submit="changePassword()">
              <div><input required class="form-input" type=password ng-model="newPassword" name="username" placeholder="New password" ></div>
              <div><input required class="form-input" ng-model="duplicatePassword" type=password name="password" placeholder="Repeat new password" ></div>
              <div><input class="add-button" type=submit ng-disabled="!changePasswordFormValid()" value="Submit"></div>
            </form>
            <div>{{ message }}</div>
      </div> 
 </div>
